@font-face{
    src:url(./fonts/bariol_regular-webfont.ttf);font-family:BariolRegular;
}



* {margin: 0; padding: 0; font-family: BariolRegular, "Bariol Regular","Helvetica Neue",Helvetica,Arial,sans-serif !important;}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:30%;
}
/*button design*/
.switch {
    position: absolute;
    top: -40px;
    right: 20%;
    display: inline-block;
    width: 45px;
    height: 23px;
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .cta-title {
      margin-bottom: 20px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cdcdcd;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #122448;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #122448;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
  }
  .slider.round {
    border-radius: 34px;
  }
  input[type="checkbox"]:focus{
    outline:0;
}
  
  .slider.round:before {
    border-radius: 50%;
  }
  .button-spread {
      display: flex;
      padding-top: 40px;
  }
  @media only screen and (max-width: 850px) {
    .button-spread {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }   
    .primary-wrapper {
        position: relative;
        width: 60%;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: 60px;
    }
  }
  .button-spread:nth-child(even) {
    background-color: #f2f2f2;
  }
  .primary-wrapper {
      position: relative;
      width: 60%;
      display: flex;
      flex-direction: column;
    align-items: center;
  }
.button-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
  }
  .button-versions {
      position: absolute;
      top: -30px;
  }
  .button-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .btn1 {
    background-color: #F05825;
    border-radius: 5px;
    border: none;
    width: 266px;
    height: 48px;
    color: whitesmoke;
    font-size: 18px;
    mix-blend-mode: normal;
    transition-duration: .3s;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  }
  .btn2 {
    width: 266px;
    height: 48px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    color: whitesmoke;
    font-size: 18px;
    background-color: #fc4d12;
  -webkit-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
    margin-bottom: 0;
  }
  .btn3 {
    width: 266px;
    height: 48px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    color: whitesmoke;
    font-size: 18px;
    background-color: #fc4d12;
        -webkit-box-shadow: 0px 14px 18px -22px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 18px -22px rgba(0,0,0,0.75);
  box-shadow: 0px 3.5px 0px 0px rgba(0,0,0,0.1);
    margin-bottom: 0;
  }
  .btn4 {
    width: 266px;
    height: 48px;
    background-color: #F05825;
    border-radius: 5px;
    border: none;
    width: 266px;
    height: 48px;
    color: whitesmoke;
    font-size: 18px;
    mix-blend-mode: normal;
    margin: 10px;
    margin-bottom: 0;
  }
   .button {
       position: relative;
      background-color: #F05825;
      border-radius: 5px;
      border: none;
      width: 266px;
      height: 48px;
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none;
      font-size: 17px;
      mix-blend-mode: normal;
      -webkit-transition-duration: .3s;
           -o-transition-duration: .3s;
              transition-duration: .3s;
      cursor: pointer;
    -webkit-box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  margin-top: 30px; 
  box-sizing: border-box;
    }
    .button:hover {
        background-color: #fc4d12;
        border-radius: 5px;
    -webkit-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
    }
    .button:active {
        background-color: #fc4d12;
        -webkit-box-shadow: 0px 14px 18px -22px rgba(0,0,0,0.75);
  box-shadow: 0px 3.5px 0px 0px rgba(0,0,0,0.1);
    margin-bottom: 0;
    }
  .button:focus {
    outline: none;
  }
  .button:disabled {
    background-color: #cdcdcd;
    color: #333333;
    border: none;
    box-shadow: none;
  }
  .button:disabled:hover {
    -webkit-box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  }
  .button-require::after {
    width: auto;
    height: auto;
    content: "Not working";
    padding-left: 20px;
    background-image: url("./assets/error.svg");
    background-size: 15px;
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 17px;
    color: #ff0100;
    position: absolute;
    bottom: -27px;
    left: 0;
}
 
  .btn5 {
      width: 266px;
      height: 48px;
      font-size: 18px;
      mix-blend-mode: normal;
      transition-duration: .3s;
      cursor: pointer;
      background-color: #cdcdcd;
      color: #333333;
      border: none;
      box-shadow: none;
      border-radius: 5px;
  }
  .secondary-button {
      position: relative;
      background-color: white;
      border-radius: 5px;
      border: none;
      width: 266px;
      height: 48px;
      color: #333333;
      font-size: 18px;
      mix-blend-mode: normal;
      transition-duration: .3s;
      cursor: pointer;
    -webkit-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  border: 1px solid #333333;
  margin-top: 30px;
  }
  .secondary-button img {
    position: absolute;
    left: 20px;
    width: 25px;
    height: 25px;
    -webkit-filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(0.6) saturate(7);
    filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(0.6) saturate(0);
  }
  .secondary-button:hover {
    color: #333333;
    border: 1px solid #333333;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
  }
  .secondary-button:active {
    color: #333333;
    border: 1px solid #333333;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  }
  .secondary-button:focus {
      outline: none;
  }
  .secondary-button:disabled {
    background-color: #cdcdcd;
    color: #333333;
    border: none;
    box-shadow: none;
  }

  .btn-secondary-1 {
    position: relative;
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 266px;
    height: 48px;
    color: #333333;
    font-size: 18px;
    mix-blend-mode: normal;
    transition-duration: .3s;
    cursor: pointer;
  -webkit-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
border: 1px solid #999999;
  }
  .btn-secondary-2 {
      width: 266px;
      height: 48px;
      font-size: 18px;
      color: #999999;
      border: 1px solid #f0f0f0;
      mix-blend-mode: normal;
      cursor: pointer;
      border-radius: 5px;
      background-color: #f0f0f0;
      -webkit-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
      box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
  }
  .btn-secondary-3 {
      width: 266px;
      height: 48px;
      font-size: 18px;
      mix-blend-mode: normal;
      color: #999999;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      background-color: #f0f0f0;
      -webkit-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  }
  .btn-secondary-4 {
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 266px;
    height: 48px;
    color: #999999;
    font-size: 18px;
    mix-blend-mode: normal;
    transition-duration: .3s;
    cursor: pointer;
  -webkit-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  }
  .btn-secondary-5 {
      width: 266px;
      height: 48px;
      font-size: 18px;
      mix-blend-mode: normal;
      cursor: pointer;
      border-radius: 5px;
      background-color: #999999;
      color: white;
      border: none;
      -webkit-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
      box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  }

  .spread-line {
      width: 100%;
      height: .5px;
      margin: 30px 0;
      background-color: #cdcdcd;
  }
  /*dropdown design*/
.select-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(225,225,225,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(225,225,225,1);
    box-shadow: 0px 2px 3px 0px rgba(225,225,225,1);
}
.select-class {
    width: 400px;
    height: 50px;
    position: relative;
    border: 0.5px solid rgb(225, 225, 225);
    border-radius: 3px;
    font-size: 18px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 15px;
    color: #333333;
    cursor: pointer;
    text-transform: capitalize;
}
.select-class::before {
    width: 20px;
    height: 20px;
    content: "";
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("https://image.flaticon.com/icons/png/512/152/152411.png") center no-repeat;
    background-size: 20px;
    position: absolute;
    right: 10px;
    z-index: 2;
    -webkit-filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(1.2) saturate(7);
    filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(1.2) saturate(0);
    transition-duration: .3s;
}
.select-class:focus::before {
    transform:rotateX(180deg);
}

.select-class:focus {
    outline: none;

}


.select-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: 0;
    overflow-y: hidden;
    transition-duration: .3s;
}
.absolute-select-options {
    position: absolute;
    top: 55px;
}
.select-options-open {
    max-height: 1000px;
    -webkit-box-shadow: 0px 0px 1px 0.5px rgba(175,175,175,1);
    -moz-box-shadow: 0px 0px 1px 0.5px rgba(175,175,175,1);
    box-shadow: 0px 0px 1px 0.5px rgba(175,175,175,1);
}
.option {
    border: none;
    background-color: white;
    width: 100%;
    font-size: 18px;
    text-align: left;
    color: #999999;
    height: 35px;
    padding-left: 15px;
    cursor: pointer;
    text-transform: capitalize;
}
.option:hover {
    background-color: #A3B4B9;
    color: white;
}
.option:active {
    background-color: #C4C4C4;
    color: black;
}
.option:focus {
    outline: none;
}
.selected-option {
    background-color: #C4C4C4;
    color: black;
}
.required-select {
    border: 0.5px solid #FF0100;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.required-select::before {
    -webkit-filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(1.2) saturate(7);
    filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(1.2) saturate(30);
}
#drop-requirement {
    width: 22px;
    height: 20px;
}
#drop-requirement:focus {
    outline: none;
}
@media only screen and (max-width: 480px) {
    .select-class {
        width: auto;
        min-width: 290px;
    }
}
/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 4px;
    right: 43px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 3px solid #486973;
    border-radius: 2px;
  }
  
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    color: #486973;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 4px;
    top: -3px;
    width: 8px;
    height: 16px;
    border: solid #486973;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Typografy design*/
.typo-flex {
    text-align: center;
    width: 100%;
}
.h1 {
    font-size: 47px;
}
.h2 {
    font-size: 44px;
}
.h3 {
    font-size: 42px;
}
.h4 {
    font-size: 34px;
}
.h5 {
    font-size: 25px;
}
.h6 {
    font-size: 21px;
}
.content {
    font-size: 19px;
}
.link {
    font-size: 21px;
    color: #fb513c;
    text-decoration: none;
}
.notifications {
    font-size: 20px;
}
@media only screen and (max-width: 1024px) {
    .h1 {
        font-size: 37px;
    }
    .h2 {
        font-size: 34px;
    }
    .h3 {
        font-size: 32px;
    }
    .h4 {
        font-size: 24px;
    }
    .h5 {
        font-size: 22px;
    }
    .cta {
        font-size: 16px;
    }
    .h6 {
        font-size: 19px;
    }
    .content {
        font-size: 19px;
    }
    .link {
        font-size: 17px;
    }
    .notifications {
        font-size: 16px;
    }
}


  /*
  kukun main iframe
  */
.main-iframe-1 {
    width: 100%;
    height: 90vh;
    overflow-y: hidden;
    margin-top: 50px;
}
.bg-banner {
    background: url(./assets/business-bg.jpg) no-repeat;
    position: relative;
    background-size: 100% 100%;
    height: 100%;
}
.kukun-layer {
    background-color: rgba(229, 229, 229, .8);
    transform: rotate(20deg);
    position: absolute;
    height: 695px;
    width: 692px;
    left: -39px;
    top: -185px;
    border-bottom-right-radius: 140px
}
.small-banner-title {
    position: absolute;
    width: 600px;
    top: 195px;
    left: 60px;
    color: #333;
    transform: rotate(-20deg);
    text-align: left;
}
.banner-title {
    position: absolute;
    left: 87px;
    width: 600px;
    top: 245px;
    color: #333;
    transform: rotate(-20deg);
    text-align: left;
}
.banner-content {
    position: absolute;
    width: 500px;
    height: 95px;
    left: 144px;
    top: 444px;
    color: #333;
    transform: rotate(-20deg);
    text-align: left;
    z-index: 1;
}
.header-banner-btn {
    width: 160px;
    padding: 11px 20px;
    position: absolute;
    left: 184px;
    top: 612px;
    transform: rotate(-20deg);
    margin-top: 0;
}
.main-iframe-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 30px auto;
}
.tab-buttons-section {
    display: flex;
}
.kukun-button {
    margin: 30px 20px;
}
.main-iframe-3 {
    width: 100%;
    height: auto;
}
.custom-mid-width {
    position: relative;
    max-width: 82%!important;
    display: flex;
    margin: 30px auto;
}

.medium-head {
    color: #122448;
    padding-bottom: 50px;
    padding-top: 70px
}
.industries-content {
    max-width: 90%;
    margin: 0;
}
.client-logos {
    padding-left: 15%;
    padding-right: 15%;
}
.absolute-logos {
    position: absolute;
    bottom: -10px;
    padding: 0!important
}
.partners-logo {
    max-width: 200px;
    margin: 30px auto;
    margin-bottom: 0;
}
.industries-img {
    padding-left: 10%;
    padding-right: 10%
}

@media only screen and (min-width: 64.063em) {
.large-6 {
    width: 50%;
}
}
@media only screen and (min-width: 64.063em) {
.column, .columns {
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
}
}
@media only screen and (max-width:1270px) {
    .absolute-logos {
        position: relative;
        bottom: auto
    }
}
@media screen and (max-width:1024px) {
    .bg-banner {
        height: 50vh;
        width: 100%;
        position: absolute
    }
    .kukun-layer {
        background-color: transparent;
        transform: none;
        position: relative;
        height: 45vh;
        width: auto;
        left: auto;
        top: 0;
        border-bottom-right-radius: 0;
        max-width: 89%;
        margin: 0 auto
    }
    .small-banner-title {
        position: relative;
        left: auto;
        width: 100%;
        margin: 55vh auto 10px;
        top: auto;
        transform: none
    }
    .banner-title {
        position: relative;
        left: auto;
        width: 100%;
        margin: 20px auto 10px;
        top: auto;
        transform: none
    }
    .banner-content {
        position: relative;
        width: 100%;
        height: auto;
        left: auto;
        top: auto;
        transform: none;
        margin: 4vh auto
    }
    .header-banner-btn {
        padding: 15px 20px;
        position: relative;
        left: auto;
        top: auto;
        transform: none
    }
    .medium-head {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .industries-content {
        max-width: 100%
    }
    .custom-mid-width {
        flex-direction: column;
    }
    .large-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:1024px) and (max-height:420px) {

    .bg-banner {
        height: 350px
    }
    .small-banner-title {
        margin: 370px auto 10px
    }
}
@media screen and (max-width:640px) {
    .partners-logo {
        margin: 10px auto;
        display: block;
    }
}
@media screen and (max-width:540px) {
    .bg-banner {
        height: 43vh
    }
    .custom-mid-width {
        max-width: 100%!important
    }
    .small-banner-title {
        margin: 47vh auto 10px
    }
}
.estimator-iframe-1 {
    width: 100%;
    background-color: #f2f2f2;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}
.three-box {
    margin-top: 20px;
    display: flex;
}
.estimator-box {
    width: 200px;
    height: 160px;
    background-color: white;
    border-radius: 4px;
    border: 0.5px solid #A3B4B9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}
.estimator-box h6 {
    margin-bottom: 10px;
    pointer-events: none;
}
.estimator-box p {
    font-size: 16px;
    pointer-events: none;
}
.estimator-selected {
    border: 2px solid #F05825;
    color: #F05825;
}
.estimator-selected p {
    color: #3d4749;
}
.estimator-iframe-2 {
    width: 100%;
    background-color: #f2f2f2;
    height: auto;
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
}
@media only screen and (max-width: 1024px) {
    .three-box {
        flex-direction: column;
    }
    .estimator-box {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }
}
@media only screen and (max-width: 400px) {

    .input-class {
      width: 300px;
    }
  }
  /* Input design*/
  .input-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
}
.input-wrapper {
    margin: 30px;
    text-align: center;
}
  .input {
    font-family:
      'Roboto','Helvetica','Arial',sans-serif;
      position: relative;
      width: auto;
  }
  
  .input-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 350px;
    height: 50px;
    padding: 5px 10px;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #A3B4B9;
    color: #122448;
    box-sizing: border-box;
  }
  
  .input-text:focus, .input-text:valid {
    border: 1px solid #F05825 !important;
}


.no-icon-input {
    padding-left: 25px;
}
.no-icon-input ~ .input-label {
left: 30px;
}
  /* Remove focus */
  .input-text:focus {
      outline: none;
  }
  
      /* Use custom arrow */
  .input .input-text {
      appearance: none;
      -webkit-appearance:none
  }
  
  
  /*----------------------------------------------------*/
  /* LABEL ======================================= */
  .input-label {
      color: #122448;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 50px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s ease all;
  }
  
  /* active state */
  .input-text:focus ~ .input-label, .input-text:valid ~ .input-label {
      top: 10px;
      left: 27px;
      color: #A3B4B9;
      transition: 0.2s ease all;
      font-size: 12px;
  }
  .input-text:focus ~ .input-icon, .input-text:valid ~ .input-icon {
      top: 9px;
}
  
.input-icon {
    position: absolute;
    left: 25px;
    bottom: 0;
    top: 0;
    margin: auto;
}

  .check-password {
    position: absolute;
    right: 0;
    height: 100%;
    font-size: 18px;
    width: 20%;
    background-color: #3333;
    border-radius: 0 5px 5px 0;
    text-align: center;
    padding: 14px 0;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .disable-input {
      background-color: #A3B4B9;
      padding-top: 5px;
  }
  .disable-input ~ .check-password {
      display: none;
  }
  .disable-input::placeholder {
      color: whitesmoke;
  }
  .disable-input ~ label, .disable-input label {
display: none;
  }
  .disable-input ~ .input-icon {
    -webkit-filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(1.2) saturate(7);
    filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(0) saturate(0);
  }
  .granted {
    display: none;
    color: #0ED322;
    position: absolute;
    bottom: -20px;
    left: 20px;
  }
  .granted-input ~ .granted {
      display: block;
  }
  .granted::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0;
    background: url("./assets/done.svg") left no-repeat;
    background-size: 15px;
    margin-left: -20px;
}
  .required-input {
    border: 0.5px solid #FF0100;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .required-input ~ .alert {
      display: block;
  }
  .alert {
      display: none;
    position: absolute;
    bottom: -20px;
    left: 20px;
    color: #FF0100;
  }
  .alert::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      bottom: 0;
      background: url("./assets/error.svg") left no-repeat;
      background-size: 15px;
      margin-left: -20px;
  }


  /*modal*/
  .modal-background {
      display: none;
      background-color: rgba(0,0,0,0.45);
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 4;
      justify-content: center;
      align-items: center;
  }
  .modal {
      position: relative;
      background-color: #f7f7f7;
      width: 50px;
      opacity: 0;
      height: auto;
      min-height: 50px;
      transition: width .3s, min-height .3s, opacity .2s;
      border-radius: 5px;
      border: solid 1px #666666;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  .opened-modal {
      opacity: 1;
      width: 400px;
      min-height: 500px;
  }
  #modal-close {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      transition-duration: .3s;
  }
  #modal-close:hover {
      background-color: #486973;
  }
  #modal-close path {
      fill: black;
  }
  #modal-close:hover path {
      fill: white;
  }