@font-face{
    src:url(./fonts/bariol_regular-webfont.ttf);font-family:BariolRegular;
}



* {margin: 0; padding: 0; font-family: BariolRegular, "Bariol Regular","Helvetica Neue",Helvetica,Arial,sans-serif !important;}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:30%;
}
/*button design*/
.switch {
    position: absolute;
    top: -40px;
    right: 20%;
    display: inline-block;
    width: 50px;
    height: 26px;
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .cta-title {
      margin-bottom: 20px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #122448;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #122448;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .button-spread {
      display: flex;
      padding-top: 40px;
  }
  @media only screen and (max-width: 850px) {
    .button-spread {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }   
    .primary-wrapper {
        position: relative;
        width: 60%;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: 40px;
    }
  }
  .button-spread:nth-child(even) {
    background-color: #f2f2f2;
  }
  .primary-wrapper {
      position: relative;
      width: 60%;
      display: flex;
      flex-direction: column;
    align-items: center;
  }
.button-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
  }
  .button-versions {
      position: absolute;
      top: -20px;
  }
  .button-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .btn1 {
    background-color: #F05825;
    border-radius: 5px;
    border: none;
    width: 266px;
    height: 48px;
    color: whitesmoke;
    font-size: 18px;
    mix-blend-mode: normal;
    transition-duration: .3s;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  }
  .btn2 {
    width: 266px;
    height: 48px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    color: whitesmoke;
    font-size: 18px;
    background-color: #fc4d12;
  -webkit-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
    margin-bottom: 0;
  }
  .btn3 {
    width: 266px;
    height: 48px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    color: whitesmoke;
    font-size: 18px;
    background-color: #fc4d12;
        -webkit-box-shadow: 0px 14px 18px -22px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 18px -22px rgba(0,0,0,0.75);
  box-shadow: 0px 3.5px 0px 0px rgba(0,0,0,0.1);
    margin-bottom: 0;
  }
  .btn4 {
    width: 266px;
    height: 48px;
    background-color: #F05825;
    border-radius: 5px;
    border: none;
    width: 266px;
    height: 48px;
    color: whitesmoke;
    font-size: 18px;
    mix-blend-mode: normal;
    margin: 10px;
    margin-bottom: 0;
  }
   .button {
      background-color: #F05825;
      border-radius: 5px;
      border: none;
      width: 266px;
      height: 48px;
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none;
      font-size: 18px;
      mix-blend-mode: normal;
      -webkit-transition-duration: .3s;
           -o-transition-duration: .3s;
              transition-duration: .3s;
      cursor: pointer;
    -webkit-box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  margin-top: 30px; 
  box-sizing: border-box;
    }
    .button:hover {
        background-color: #fc4d12;
        border-radius: 5px;
    -webkit-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
    }
    .button:active {
        background-color: #fc4d12;
        -webkit-box-shadow: 0px 14px 18px -22px rgba(0,0,0,0.75);
  box-shadow: 0px 3.5px 0px 0px rgba(0,0,0,0.1);
    margin-bottom: 0;
    }
  .button:focus {
    outline: none;
  }
  .button:disabled {
      background-color: #999999;
  }
  .button:disabled:hover {
    -webkit-box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  }
 
  .btn5 {
    background-color: #999999;
      border-radius: 5px;
      border: none;
      width: 266px;
      height: 48px;
      color: whitesmoke;
      font-size: 18px;
      mix-blend-mode: normal;
      transition-duration: .3s;
      cursor: pointer;
    -webkit-box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2.5px 0px 0px rgba(0,0,0,0.1);
  }
  .secondary-button {
      position: relative;
      background-color: white;
      border-radius: 5px;
      border: none;
      width: 266px;
      height: 48px;
      color: #999999;
      font-size: 18px;
      mix-blend-mode: normal;
      transition-duration: .3s;
      cursor: pointer;
    -webkit-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  margin-top: 30px;
  }
  .secondary-button img {
    position: absolute;
    left: 20px;
    width: 25px;
    height: 25px;
    -webkit-filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(1.2) saturate(7);
    filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(1.2) saturate(0);
  }
  .secondary-button:hover {
    color: #999999;
    border: none;
    background-color: #f0f0f0;
    -webkit-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
  }
  .secondary-button:active {
    color: #999999;
    border: none;
    background-color: #f0f0f0;
    -webkit-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  }
  .secondary-button:focus {
      outline: none;
  }
  .secondary-button:disabled {
    background-color: #999999;
    color: #f5f5f5;
  }

  .btn-secondary-1 {
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 266px;
    height: 48px;
    color: #999999;
    font-size: 18px;
    mix-blend-mode: normal;
    transition-duration: .3s;
    cursor: pointer;
  -webkit-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  }
  .btn-secondary-2 {
      width: 266px;
      height: 48px;
      font-size: 18px;
      color: #999999;
      border: 1px solid #f0f0f0;
      mix-blend-mode: normal;
      cursor: pointer;
      border-radius: 5px;
      background-color: #f0f0f0;
      -webkit-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
      box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.5);
  }
  .btn-secondary-3 {
      width: 266px;
      height: 48px;
      font-size: 18px;
      mix-blend-mode: normal;
      color: #999999;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      background-color: #f0f0f0;
      -webkit-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  }
  .btn-secondary-4 {
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 266px;
    height: 48px;
    color: #999999;
    font-size: 18px;
    mix-blend-mode: normal;
    transition-duration: .3s;
    cursor: pointer;
  -webkit-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  }
  .btn-secondary-5 {
      width: 266px;
      height: 48px;
      font-size: 18px;
      mix-blend-mode: normal;
      cursor: pointer;
      border-radius: 5px;
      background-color: #999999;
      color: white;
      border: none;
      -webkit-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
      box-shadow: 0px 2.5px 0px 1px rgba(0,0,0,0.1);
  }

  .spread-line {
      width: 100%;
      height: .5px;
      margin: 30px 0;
      background-color: #cdcdcd;
  }
  /*dropdown design*/
.select-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.select-class {
    width: 400px;
    height: 50px;
    position: relative;
    border: 0.5px solid rgb(225, 225, 225);
    border-radius: 3px;
    font-size: 15px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(225,225,225,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(225,225,225,1);
    box-shadow: 0px 2px 3px 0px rgba(225,225,225,1);
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 15px;
    color: #333333;
    cursor: pointer;
    text-transform: capitalize;
}
.select-class::before {
    width: 20px;
    height: 20px;
    content: "";
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("https://image.flaticon.com/icons/png/512/152/152411.png") center no-repeat;
    background-size: 20px;
    position: absolute;
    right: 10px;
    z-index: 2;
    -webkit-filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(1.2) saturate(7);
    filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(1.2) saturate(0);
    transition-duration: .3s;
}
.select-class:focus::before {
    transform:rotateX(180deg);
}

.select-class:focus {
    outline: none;

}


.select-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: 0;
    overflow-y: hidden;
    transition-duration: .3s;
}
.absolute-select-options {
    position: absolute;
    top: 55px;
}
.select-options-open {
    max-height: 1000px;
    -webkit-box-shadow: 0px 0px 1px 0.5px rgba(175,175,175,1);
    -moz-box-shadow: 0px 0px 1px 0.5px rgba(175,175,175,1);
    box-shadow: 0px 0px 1px 0.5px rgba(175,175,175,1);
}
.option {
    border: none;
    background-color: white;
    width: 100%;
    text-align: left;
    color: #999999;
    height: 35px;
    padding-left: 15px;
    cursor: pointer;
    text-transform: capitalize;
}
.option:hover {
    background-color: #A3B4B9;
    color: white;
}
.option:active {
    background-color: #C4C4C4;
    color: black;
}
.option:focus {
    outline: none;
}
.selected-option {
    background-color: #C4C4C4;
    color: black;
}
.required-select {
    border: 0.5px solid #FF0100;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.required-select::before {
    -webkit-filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(1.2) saturate(7);
    filter: contrast(0) sepia(80%) hue-rotate(320deg) brightness(1.2) saturate(30);
}
/*Typografy design*/
.typo-flex {
    text-align: center;
    width: 100%;
}
.h1 {
    font-size: 47px;
}
.kukun-h1 {
    font-size: 45px;
    color: #F05825;
}
.h2 {
    font-size: 44px;
}
.h3 {
    font-size: 42px;
}
.h4 {
    font-size: 40px;
}
.h5 {
    font-size: 38px;
}
.h6 {
    font-size: 36px;
}
.h7 {
    font-size: 34px;
}
.p-description {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: 0
}
@media only screen and (max-width: 1366px) {
    .h1 {
        font-size: 39px;
    }
    .h2 {
        font-size: 36px;
    }
    .h3 {
        font-size: 34px;
    }
    .h4 {
        font-size: 30px;
    }
    .h5 {
        font-size: 27px;
    }
    .h6 {
        font-size: 25px;
    }
    .h7 {
        font-size: 24px;
    }
}
@media only screen and (max-width: 1280px) {
    .h1 {
        font-size: 37px;
    }
    .h2 {
        font-size: 34px;
    }
    .h3 {
        font-size: 32px;
    }
    .h4 {
        font-size: 28px;
    }
    .h5 {
        font-size: 24px;
    }
    .h6 {
        font-size: 23px;
    }
    .h7 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 1024px) {
    .h1 {
        font-size: 31px;
    }
    .kukun-h1 {
        font-size: 43px;
    }
    .h2 {
        font-size: 29px;
    }
    .h3 {
        font-size: 27px;
    }
    .h4 {
        font-size: 25px;
    }
    .h5 {
        font-size: 23px;
    }
    .h6 {
        font-size: 20px;
    }
    .h7 {
        font-size: 18px;
    }
}
@media only screen and (max-width: 640px) {
    .h1 {
        font-size: 28px;
    }
    .kukun-h1 {
        font-size: 38px;
    }
    .h2 {
        font-size: 26px;
    }
    .h3 {
        font-size: 23px;
    }
    .h4 {
        font-size: 21px;
    }
    .h5 {
        font-size: 20px;
    }
    .h6 {
        font-size: 18px;
    }
    .h7 {
        font-size: 17px;
    }
}
@media only screen and (max-width: 480px) {
    .h1 {
        font-size: 25px;
    }
    .h2 {
        font-size: 22px;
    }
    .h3 {
        font-size: 20px;
    }
    .h4 {
        font-size: 19px;
    }
    .h5 {
        font-size: 17px;
    }
    .h6 {
        font-size: 15.5px;
    }
    .h7 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {

    .input-class {
      width: 300px;
    }
  }
  /* Input design*/
  .input-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
}
.input-wrapper {
    margin: 30px;
    text-align: center;
}
  .input {
    font-family:
      'Roboto','Helvetica','Arial',sans-serif;
      position: relative;
      width: auto;
  }
  
  .input-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 350px;
    height: 50px;
    padding: 5px 10px;
    padding-left: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #A3B4B9;
    color: #122448;
    box-sizing: border-box;
  }
  
  .input-text:focus, .input-text:valid {
    border: 1px solid #F05825 !important;
}



  /* Remove focus */
  .input-text:focus {
      outline: none;
  }
  
      /* Use custom arrow */
  .input .input-text {
      appearance: none;
      -webkit-appearance:none
  }
  
  
  /*
  kukun main iframe
  */
.main-iframe {
    width: 100%;
    height: 90vh;
    overflow-y: hidden;
    margin-top: 50px;
}
.bg-banner {
    background: url(./assets/business-bg.jpg) no-repeat;
    position: relative;
    background-size: 100% 100%;
    height: 100%;
}
.kukun-layer {
    background-color: rgba(229, 229, 229, .8);
    transform: rotate(20deg);
    position: absolute;
    height: 695px;
    width: 692px;
    left: -39px;
    top: -185px;
    border-bottom-right-radius: 140px
}
.small-banner-title {
    position: absolute;
    width: 600px;
    top: 195px;
    left: 60px;
    color: #333;
    transform: rotate(-20deg);
    text-align: left;
}
.banner-title {
    position: absolute;
    left: 87px;
    width: 600px;
    top: 245px;
    color: #333;
    transform: rotate(-20deg);
    text-align: left;
}
.banner-content {
    position: absolute;
    width: 500px;
    height: 95px;
    left: 144px;
    top: 444px;
    color: #333;
    transform: rotate(-20deg);
    text-align: left;
    z-index: 1;
}
.header-banner-btn {
    width: 160px;
    padding: 11px 20px;
    position: absolute;
    left: 184px;
    top: 612px;
    transform: rotate(-20deg);
    margin-top: 0;
}
@media screen and (max-width:1024px) {
    .bg-banner {
        height: 50vh;
        width: 100%;
        position: absolute
    }
    .kukun-layer {
        background-color: transparent;
        transform: none;
        position: relative;
        height: 45vh;
        width: auto;
        left: auto;
        top: 0;
        border-bottom-right-radius: 0;
        max-width: 89%;
        margin: 0 auto
    }
    .small-banner-title {
        position: relative;
        left: auto;
        width: 100%;
        margin: 55vh auto 10px;
        top: auto;
        transform: none
    }
    .banner-title {
        position: relative;
        left: auto;
        width: 100%;
        margin: 20px auto 10px;
        top: auto;
        transform: none
    }
    .banner-content {
        position: relative;
        width: 100%;
        height: auto;
        left: auto;
        top: auto;
        transform: none;
        margin: 4vh auto
    }
    .header-banner-btn {
        padding: 15px 20px;
        position: relative;
        left: auto;
        top: auto;
        transform: none
    }
}
@media screen and (max-width:1024px) and (max-height:420px) {

    .bg-banner {
        height: 350px
    }
    .small-banner-title {
        margin: 370px auto 10px
    }
}
@media screen and (max-width:540px) {
    .bg-banner {
        height: 43vh
    }
    .small-banner-title {
        margin: 47vh auto 10px
    }
}


  /*----------------------------------------------------*/
  /* LABEL ======================================= */
  .input-label {
      color: #122448;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 40px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s ease all;
  }
  
  /* active state */
  .input-text:focus ~ .input-label, .input-text:valid ~ .input-label {
      top: 10px;
      left: 30px;
      color: #333333;
      transition: 0.2s ease all;
      font-size: 14px;
  }
  
.input-icon {
    position: absolute;
    left: 10px;
    bottom: 0;
    top: 0;
    margin: auto;
}

  .check-password {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20%;
    background-color: #3333;
    border-radius: 0 5px 5px 0;
    text-align: center;
    padding: 14px 0;
    box-sizing: border-box;
    cursor: pointer;
  }

  .disable-input {
      background-color: #A3B4B9;
  }
  .disable-input ~ .check-password {
      display: none;
  }
  .disable-input::placeholder {
      color: whitesmoke;
  }
  .disable-input ~ label, .disable-input label {
display: none;
  }
  .required-input {
    border: 0.5px solid #FF0100;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }